@{
    ViewBag.Title = "无权访问";
    ViewBag.PageCode = "N1001";
}

<hgroup class="title">
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
   @* <p>
       对不起！你无权访问此页面.
    </p>*@
    <div class="panel">
        <img class="img-responsive center-block" src="~/Images/novisit.jpg" />
    </div>

</article>
