@{
    ViewBag.Title = "采购合同导入";
    ViewBag.PageCode = "C2002";
}

<div class="panel panel-default" >
    <link style="text/css" rel="stylesheet" href="~/Content/style2.css" />
    <div class="panel-heading"><label>采购合同导入</label></div>

    <div class="panel-body">
    
        <div class="panel panel-default col-lg-4 col-md-4 col-sm-4" style="padding-left:0px;padding-right:0px;">
            <ul class="list-group">
                <li class="list-group-item"><label class="text-center">下载批量导入数据模板</label></li>
                <li class="list-group-item">
                    <p></p>                    
                    <img src="~/Images/excel.png" class="img-responsive center-block"   />  
                    <p></p>                   
                    <p class="text-center"><label>模板_批量导入数据.xls</label></p>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-info col-md-offset-2 col-lg-offset-2" href="~/CGContract/DownloadExcelTemplate">下载</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="~/Images/arrow-right.png" class="center-block" style="margin-top:100px;"/>
        </div>
        <div class="panel col-lg-6 col-md-6 col-sm-6" style="padding-left:0px;padding-right:0px;">
            <form id="uploadForm" method="post" action="~/CGContract/ImportContract" enctype="multipart/form-data" >
                <ul class="list-group">
                    <li class="list-group-item"><label class="text-center">上传批量数据</label></li>
                    <li class="list-group-item">         
                        <div class="input-group" style="margin-top:30px;">            
                            <input type="text" id="fileName" class="form-control"  readonly="readonly" name="fileName">
                             <span class="input-group-btn" ><input type="button" id="selectFile" onclick="import_selectfile()" class="btn btn-default" value="浏览"> </span>
                            </div>                       
                            <input type="file" id="uploadFile" value="" onchange="import_changefile()" class="fileupload" name="uploadFile">
                        
                            <label style="margin-bottom:30px;">文件名称：</label>
                            <span id="displayName"></span>
                    </li>
                    <li class="list-group-item">
                        <input type="submit" id="uploadBtn" class="btn btn-info col-md-offset-3" value="上传" />
                    </li>
                </ul>
            </form>
        </div>

      
    </div>

    <div class="panel-footer">@Html.ValidationSummary()</div>
</div>